.btn{
  cursor: pointer;
}

.login-btn{
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.nav-section{
  display: flex;
  justify-content: center;
}

.menu-area{
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-list{
  display: flex;
  list-style: none;
}

.menu-list li {
  padding: 20px;
}

.search-area{
  position: absolute;
  right: 10px;
}

.search-box{
  border-bottom: 2px solid black;
}

.search-box input{
  padding-left: 2px;
  padding-bottom: 8px;
  border: none;
}

.product-card{
  overflow: hidden;
  padding: 0;
  margin-bottom: 15px;
  transition: transform 0.3s ease;
}

.product-card:hover{
  transform: scale(1.03);;
}

.product-img{
  width: 100%
}

.product-cap{
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

/* ProductDetail */
.detail-img{
  padding: 10px;
}

.detail-cap{
  font-size: 20px;
  padding: 30px;
}

.detail-title, .detail-price{
  margin-bottom: 10px;
}

.detail-choice{
  font-size: 11px;
  margin: 10px 0 10px 0;
  height: 20px;
}

.drop-down, .add-btn{
  margin-top: 20px;
}

.add-btn{
  width: 330px;
  height: 40px;
}