.login-btn{
  display: flex;
  justify-content: flex-end;
}

.nav-section{
  display: flex;
  justify-content: center;
}

.menu-area{
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-list{
  display: flex;
  list-style: none;
}

.menu-list li {
  padding: 20px;
}

.search-area{
  position: absolute;
  right: 10px;
}

.search-box{
  border-bottom: 2px solid black;
}

.search-box input{
  padding-left: 6px;
  padding-bottom: 8px;
  border: none;
}

.product-card{
  overflow: hidden;
  border: 1px solid red;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

.product-card:hover{
  transform: scale(1.03);;
}

.product-img{
  width: 100%
}